.btn {
  background-color: var(--secondary-color);
  color: var(--text-white);
  font-weight: var(--text-bolder);
  border: none;
  cursor: pointer;
  padding: 0rem 2rem;
  border-radius: var(--border-radius-md);
  height: 5rem;
  margin: auto 0;
}
